<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key><true/>
	<key>CFBundleDevelopmentRegion</key><string>en</string>
	<key>CFBundleDisplayName</key><string>Spitify</string>
	<key>CFBundleSpokenName</key><string>Spit if eye</string>
	<key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key><array><dict><key>CFBundleURLName</key><string>Spitify shares</string><key>CFBundleURLSchemes</key><array><string>spitify</string></array></dict></array>
	<key>LSRequiresIPhoneOS</key><true/>
	<key>UILaunchScreen</key><dict><key>UIColorName</key><string>LaunchBackground</string></dict>
	<key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key><true/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>CPTemplateApplicationSceneSessionRoleApplication</key>
            <array><dict>
                <key>UISceneClassName</key><string>CPTemplateApplicationScene</string>
                <key>UISceneConfigurationName</key><string>CarPlay</string>
                <key>UISceneDelegateClassName</key><string>$(PRODUCT_MODULE_NAME).CarPlaySceneDelegate</string>
            </dict></array>
        </dict>
    </dict>
	<key>UIBackgroundModes</key><array><string>audio</string></array>
	<key>UIFileSharingEnabled</key><true/>
	<key>LSSupportsOpeningDocumentsInPlace</key><true/>
	<key>UISupportsDocumentBrowser</key><false/>
	<key>NSAppleMusicUsageDescription</key><string>Spitify can play the songs already downloaded in your Music library.</string>
	<key>IntentsSupported</key><array><string>INPlayMediaIntent</string></array>
	<key>NSUserActivityTypes</key><array><string>INPlayMediaIntent</string></array>
	<key>NSSiriUsageDescription</key><string>Use Siri to play music and control Spitify.</string>
	<key>NSPhotoLibraryUsageDescription</key><string>Choose a profile picture or custom artwork.</string>
	<key>UIAppFonts</key>
	<array>
		<string>figtree_400.ttf</string><string>figtree_500.ttf</string><string>figtree_600.ttf</string>
		<string>figtree_700.ttf</string><string>figtree_800.ttf</string><string>figtree_900.ttf</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array><string>UIInterfaceOrientationPortrait</string></array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string><string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string><string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key><string>Dark</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key><string>Audio</string>
			<key>CFBundleTypeRole</key><string>Viewer</string>
			<key>LSHandlerRank</key><string>Alternate</string>
			<key>LSItemContentTypes</key><array><string>public.audio</string></array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<!-- Podcast audio is often served over plain http; AVPlayer needs this to stream it. -->
		<key>NSAllowsArbitraryLoadsForMedia</key><true/>
	</dict>
	<key>NSCameraUsageDescription</key><string>Take a picture of a Spotify code to open its playlist, song, or other item.</string>
</dict>
</plist>
